.ClubList{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 85, 85);
}
.ClubList h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0,0,0);
}
.clublisttimeandplace{
    display:flex;
}
div{
    background-color: #FFEFEF;
    color:black;
    border: 1px black;
}