.Card h1{
    color: rgb(67, 12, 12);
    margin-right:100px;
    display:flex;
    margin-top:25px;
    margin-bottom:0px;
    padding-bottom:5px;
}
.Card{
    border: 1px ;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 2vw;
    background-color: rgb(223, 124, 124);
    padding-left:20px;
    padding-top:0px;
    width:61vw;
}
.top{
    display:flex;
}
.top h3{
    margin-top: 20px;
    color: rgb(67, 12, 12);
}
.Card h5,p{
    display:flex;
    justify-content: default;
    margin-top: 0px;
    padding-top:0px;
    margin-bottom: 0px;
    padding-bottom:5px;
    color: rgb(67, 12, 12);
}
.popup-overlay{
    top:0;
    left:0;
    position:fixed;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.33333); /* Semi-transparent black */
    display: flex;
    justify-content: center; /* Centers popup horizontally */
    align-items: center;
    z-index: 1001;
}
.popup-box{
    width:91vw;
    height:91vh;
    background-color: rgb(223, 124, 124);
    border: 1px solid rgb(214, 161, 161);
    border-radius: 20px;
}
.closebutton{
    color:black;
    display:flex;
    margin-left:auto;
    margin-top:20px;
    margin-right:20px;
}
.popupContent {
    padding-left:40px;
    padding-right:40px; 
    justify-content:flex-start;
}
.popupContent h1{
    display:flex;
    font-size:100px;
    margin-top:20px;
    margin-bottom:20px;
    color:rgb(67, 12, 12);
}
hr{
    margin-top:60px;
    margin-bottom:25px;
    height:1.67px;
    background-color: rgb(67, 12, 12);
    border:none;
}
.popupContent h4{
    display:flex;
    margin-top:10px;
    margin-bottom:0px;
    color: rgb(67, 12, 12);
}
.popupContent p{
    margin-top:30px;
    color:rgb(67, 12, 12);
    display:flex;
    justify-content: flex-start;
}