.clubEvents{
    background-color: rgb(255, 255, 255);
    box-shadow: inset;
    padding-bottom:10px;
    border-radius: 40px;
    width:65vw;
    padding-top:1px;
    padding-left:0px;
    margin-left:30px;
}
.sportsEvents{
    background-color: rgb(255, 255, 255);
    box-shadow: inset;
    padding-bottom:10px;
    border-radius: 40px;
    padding-top:1px;
    width:65vw;
    padding-left:0px;
    margin-left:30px;
    margin-top:20px;
}